html{
    scroll-behavior: smooth;
}
body{
      background-color: lightgray;
      font-size: 18px;
      margin: 0;
      padding: 0;
}
nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav li{
  display: inline;
  padding-right: 20px;
}

nav, header, main{
  grid-column: 1/-1;
}
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
  text-decoration: underline overline;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: relative;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
a:focus{
  transition: none;
  top: 0px;
}
:focus{
  border: 2px solid black;
}
footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1; 
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw; 
}
p{
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  padding: 30px;
}
.current{
  text-decoration: underline;
  color: blueviolet;
}
.headshot{
  background-attachment: fixed; /* Parallax effect */
  background-image: url('../images/margot_headshot.jpg');      /* Your code here - Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  height: 600px;
  width: 90%;
  margin: 0 auto;
  color: white;
  grid-column: 1/-1;
  opacity: .75;
}
h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 38px;
color: darkblue;
text-align: center;
line-height: 1;
padding: 30px;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: rgb(23, 98, 145);
  text-align: center;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  line-height: 1;
  padding: 15px;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 15px;
}

.gallery{
  display:grid;
  grid-template-columns: 1fr; 
}
.gallery img{
  width: 85%;
  box-shadow: 5px 10px lightskyblue;
}
.form-title{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
}
.text-center-header{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(96, 143, 204);
}
figcaption{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
}
.flip-card{
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front{
  background-color: #bbb;
  color: black;

}
.flip-card-front img{
  height: 100px;
  width: 110px;
}
.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}
iframe{
  width: 95%;
  height: 95vh;
  margin: 0 auto;
  margin-top: 20px;
}
div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  color: #3079ed;
  animation-name: angry-animation;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes angry-animation {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media all and (min-width: 600px){ 
  nav ul{
    flex-direction: row;
    justify-content: right;
}
.container{
  grid-row-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 200px 400px 300px 200px; */
  width: 100vw; 
}

.gallery{
  grid-template-columns: 1fr 1fr;
}
.flip-card{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
}
@media all and (min-width: 1400px){ 
  nav ul{
    flex-direction: row;
    justify-content: right;
}
.container{
  grid-row-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw; 
}
.gallery{
  grid-template-columns: 1fr 1fr 1fr;
}
.flip-card{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

}
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
}
}